In [1]:
import pandas as pd
import numpy as np
import re as re

Lecture de données JSON

In [2]:
pdTweet = pd.read_json(path_or_buf="versailles_tweets_100.json")
pdTweet["text"][1]

'@ericbailly24 @maxigr04del  mes tontons vous avez fait votre part , JO prochain on ira en demi final au moins. BRAVO à vous . #SupportriceMazo #domie #CIV'

In [7]:
pdTweet

,_id,public_metrics,id,conversation_id,author_id,text,geo,lang,created_at,entities,context_annotations,attachments
0,1421616335700824064,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421616335700824064,1421616335700824064,1339914264522461184,Goumin des éléphants joueurs la même fatigue m...,{'place_id': '00b8943291443c8c'},fr,2021-07-31 23:38:41+00:00,"{'hashtags': [{'start': 52, 'end': 63, 'tag': ...",NaN,NaN
1,1421599703116943360,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421599703116943360,1421599703116943360,1339914264522461184,@ericbailly24 @maxigr04del mes tontons vous a...,{'place_id': '00b8943291443c8c'},fr,2021-07-31 22:32:35+00:00,"{'mentions': [{'start': 0, 'end': 13, 'usernam...","[{'domain': {'id': '6', 'name': 'Sports Event'...",NaN
2,1421599163561742336,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",1421599163561742336,1421599163561742336,1339914264522461184,Ah oui le sommeil là sera compliqué. #CIV est...,{'place_id': '00b8943291443c8c'},fr,2021-07-31 22:30:27+00:00,"{'hashtags': [{'start': 37, 'end': 41, 'tag': ...","[{'domain': {'id': '6', 'name': 'Sports Event'...",NaN
3,1421591889095057408,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421591889095057408,1421591889095057408,1339914264522461184,"31 juillet , journée internationale de la femm...",{'place_id': '00b8943291443c8c'},fr,2021-07-31 22:01:32+00:00,"{'hashtags': [{'start': 60, 'end': 65, 'tag': ...",NaN,NaN
4,1421582795294617600,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421582795294617600,1421582795294617600,717025418,Le pedigree 😂😂😂😂 https://t.co/D3Rv7A2BOF,{'place_id': '00b8943291443c8c'},es,2021-07-31 21:25:24+00:00,"{'urls': [{'start': 17, 'end': 40, 'url': 'htt...",NaN,NaN
5,1421581383454052352,"{'retweet_count': 2, 'reply_count': 0, 'like_c...",1421581383454052352,1421256177359466496,992904738516717568,@isabelle170516 @leonna_julie @Steiner2502 Vou...,{'place_id': '011a304d683c2461'},fr,2021-07-31 21:19:48+00:00,"{'mentions': [{'start': 0, 'end': 15, 'usernam...",NaN,NaN
6,1421575939700445184,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421575939700445184,1421256177359466496,992904738516717568,@LynLyna12 @leonna_julie La grande muette cont...,{'place_id': '011a304d683c2461'},fr,2021-07-31 20:58:10+00:00,"{'mentions': [{'start': 0, 'end': 10, 'usernam...",NaN,NaN
7,1421569996858269696,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421569996858269696,1421569996858269696,736523371,Under wsh 😳😳😳,{'place_id': '011a304d683c2461'},en,2021-07-31 20:34:33+00:00,NaN,NaN,NaN
8,1421563798503272448,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421563798503272448,1421563798503272448,1471684208,Les bains d'apollon #versailles #nocturne #app...,"{'place_id': '011a304d683c2461', 'coordinates'...",fr,2021-07-31 20:09:55+00:00,"{'urls': [{'start': 76, 'end': 99, 'url': 'htt...",NaN,NaN
9,1421562928176803840,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1421562928176803840,1421553997811421184,992904738516717568,@leonna_julie Le rdv aujourd'hui aura tenu se...,{'place_id': '011a304d683c2461'},fr,2021-07-31 20:06:28+00:00,"{'mentions': [{'start': 0, 'end': 13, 'usernam...",NaN,{'media_keys': ['3_1421562925999869960']}
10,1421560592775761920,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421560592775761920,1421527117720866816,3169236915,@miliemelo82 @kilianbridoux @LeMeneec il est t...,{'place_id': '011a304d683c2461'},fr,2021-07-31 19:57:11+00:00,"{'mentions': [{'start': 0, 'end': 12, 'usernam...",NaN,NaN
11,1421558089761935360,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421558089761935360,1421231846814330880,992904738516717568,@Polo82810715 @lrestistant73 Un mouton c'est ...,{'place_id': '011a304d683c2461'},fr,2021-07-31 19:47:14+00:00,"{'mentions': [{'start': 0, 'end': 13, 'usernam...",NaN,NaN
12,1421551384512585728,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421551384512585728,1421551384512585728,16267684,"I'm at Gardens of Versailles in Versailles, Îl...","{'place_id': '011a304d683c2461', 'coordinates'...",fr,2021-07-31 19:20:35+00:00,"{'urls': [{'start': 58, 'end': 81, 'url': 'htt...",NaN,NaN
13,1421550148061212672,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421550148061212672,1421550148061212672,60117154,Jungle Cruise https://t.co/JyM8WQjz4p (@ UGC C...,"{'place_id': '011a304d683c2461', 'coordinates'...",fr,2021-07-31 19:15:41+00:00,"{'urls': [{'start': 14, 'end': 37, 'url': 'htt...","[{'domain': {'id': '86', 'name': 'Movie', 'des...",NaN
14,1421547651171078144,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",1421547651171078144,1421516307393044480,3169236915,@Pauluskupa 🤦🏼‍♀️,{'place_id': '011a304d683c2461'},und,2021-07-31 19:05:45+00:00,"{'mentions': [{'start': 0, 'end': 11, 'usernam...",NaN,NaN
15,1421499497620836352,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421499497620836352,1421499497620836352,372993152,@anniemacmanus legend!!!!,{'place_id': '011a304d683c2461'},en,2021-07-31 15:54:25+00:00,"{'mentions': [{'start': 0, 'end': 14, 'usernam...","[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN
16,1421499329974579200,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421499329974579200,1421165014254301184,372993152,@yebbasmith @anniemacmanus 😍,{'place_id': '011a304d683c2461'},und,2021-07-31 15:53:45+00:00,"{'mentions': [{'start': 0, 'end': 11, 'usernam...","[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN
17,1421487092023050240,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1421487092023050240,1421487092023050240,105241852,Vient de publier une photo à Quelquepart ... h...,"{'place_id': '00b8943291443c8c', 'coordinates'...",fr,2021-07-31 15:05:07+00:00,"{'urls': [{'start': 45, 'end': 68, 'url': 'htt...",NaN,NaN
18,1421472953980571648,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",1421472953980571648,1421384380841353216,2357913366,@AzmiAnees3 He was my lover’s accomplice😂🤣🤣,{'place_id': '011a304d683c2461'},en,2021-07-31 14:08:56+00:00,"{'mentions': [{'start': 0, 'end': 11, 'usernam...",NaN,NaN
19,1421429486432686080,"{'retweet_count': 2, 'reply_count': 1, 'like_c...",1421429486432686080,1421429486432686080,717025418,Le gardien lui parle non ? https://t.co/e3WewD...,{'place_id': '00b8943291443c8c'},fr,2021-07-31 11:16:13+00:00,"{'urls': [{'start': 27, 'end': 50, 'url': 'htt...",NaN,NaN

Extraction des tweet sans emoticônes (Expressions régulières)
lien : https://stackoverflow.com/questions/33404752/removing-emojis-from-a-string-in-python

In [4]:
regex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)

retirer mention du texte d'un tweet

In [6]:

patern = re.compile("@[A-Za-z0-9]*")
print(patern.sub(r"",pdTweet["text"][1]))

   mes tontons vous avez fait votre part , JO prochain on ira en demi final au moins. BRAVO à vous . #SupportriceMazo #domie #CIV

retirer les hastags d'un tweet

In [ ]:
patern = re.compile("#[A-Za-z0-9]*")
print(patern.sub(r"", pdTweet["text"][1]))

@ericbailly24 @maxigr04del  mes tontons vous avez fait votre part , JO prochain on ira en demi final au moins. BRAVO à vous .

In [ ]:
pdTweetFiltre = pd.DataFrame(columns=["Auteur", "Texte", "Hashtag", "Mentions", "URL"])
pdTweetFiltre["Auteur"] = pdTweet["author_id"]

In [ ]:

pdTweetFiltre["Texte"] = patern.sub(r"", pdTweet["Text"])

                 Auteur Texte Hashtag Mentions
0   1339914264522461184   NaN    None      NaN
1   1339914264522461184   NaN    None      NaN
2   1339914264522461184   NaN    None      NaN
3   1339914264522461184   NaN    None      NaN
4             717025418   NaN    None      NaN
5    992904738516717568   NaN    None      NaN
6    992904738516717568   NaN    None      NaN
7             736523371   NaN    None      NaN
8            1471684208   NaN    None      NaN
9    992904738516717568   NaN    None      NaN
10           3169236915   NaN    None      NaN
11   992904738516717568   NaN    None      NaN
12             16267684   NaN    None      NaN
13             60117154   NaN    None      NaN
14           3169236915   NaN    None      NaN
15            372993152   NaN    None      NaN
16            372993152   NaN    None      NaN
17            105241852   NaN    None      NaN
18           2357913366   NaN    None      NaN
19            717025418   NaN    None      NaN

Extraction Hashtags

In [ ]:
# Crée un dataFrame avec les données inscrites dans entites, en columns on a Url, Mentions et Hashtags
pdDataFrameEntities = pdTweet["entities"].apply(pd.Series)
# Isole uniquement les hashatags en créeant un autre dataFrame
pdDataFrameHashtags = pdDataFrameEntities["hashtags"].apply(pd.Series)
# On a maintenant dans la variable pdDataFrameHashtags les hashtags des tweets, en columns le premier cité puis le deuxième etc.
pdDataFrameHashtags

,0,1,2
0,"{'start': 52, 'end': 63, 'tag': 'twitter225'}",NaN,NaN
1,"{'start': 126, 'end': 142, 'tag': 'Supportrice...","{'start': 143, 'end': 149, 'tag': 'domie'}","{'start': 150, 'end': 154, 'tag': 'CIV'}"
2,"{'start': 37, 'end': 41, 'tag': 'CIV'}",NaN,NaN
3,"{'start': 60, 'end': 65, 'tag': 'jifa'}",NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,NaN,NaN,NaN
7,NaN,NaN,NaN
8,"{'start': 20, 'end': 31, 'tag': 'versailles'}","{'start': 32, 'end': 41, 'tag': 'nocturne'}","{'start': 42, 'end': 51, 'tag': 'appollon'}"
9,NaN,NaN,NaN
10,NaN,NaN,NaN
11,NaN,NaN,NaN
12,NaN,NaN,NaN
13,NaN,NaN,NaN
14,NaN,NaN,NaN
15,NaN,NaN,NaN
16,NaN,NaN,NaN
17,NaN,NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN