In [102]:
import pandas as pd
import numpy as np
import re as re

Lecture de données JSON

In [103]:
pdTweet = pd.read_json(path_or_buf="versailles_tweets_100.json")

In [125]:
pdTweet["entities"]

0     {'hashtags': [{'start': 52, 'end': 63, 'tag': ...
1     {'mentions': [{'start': 0, 'end': 13, 'usernam...
2     {'hashtags': [{'start': 37, 'end': 41, 'tag': ...
3     {'hashtags': [{'start': 60, 'end': 65, 'tag': ...
4     {'urls': [{'start': 17, 'end': 40, 'url': 'htt...
5     {'mentions': [{'start': 0, 'end': 15, 'usernam...
6     {'mentions': [{'start': 0, 'end': 10, 'usernam...
7                                                   NaN
8     {'urls': [{'start': 76, 'end': 99, 'url': 'htt...
9     {'mentions': [{'start': 0, 'end': 13, 'usernam...
10    {'mentions': [{'start': 0, 'end': 12, 'usernam...
11    {'mentions': [{'start': 0, 'end': 13, 'usernam...
12    {'urls': [{'start': 58, 'end': 81, 'url': 'htt...
13    {'urls': [{'start': 14, 'end': 37, 'url': 'htt...
14    {'mentions': [{'start': 0, 'end': 11, 'usernam...
15    {'mentions': [{'start': 0, 'end': 14, 'usernam...
16    {'mentions': [{'start': 0, 'end': 11, 'usernam...
17    {'urls': [{'start': 45, 'end': 68, 'url': 'htt...
18    {'mentions': [{'start': 0, 'end': 11, 'usernam...
19    {'urls': [{'start': 27, 'end': 50, 'url': 'htt...
Name: entities, dtype: object

Extraction des tweet sans emoticônes (Expressions régulières)

In [105]:
regex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)

In [117]:
pdTweetFiltre = pd.DataFrame(columns=["Auteur", "Texte", "Hashtag", "Mentions", "URL"])
pdTweetFiltre["Auteur"] = pdTweet["author_id"]

In [115]:
pdTweetFiltre

                 Auteur Texte Hashtag Mentions  URL
0   1339914264522461184   NaN     NaN      NaN  NaN
1   1339914264522461184   NaN     NaN      NaN  NaN
2   1339914264522461184   NaN     NaN      NaN  NaN
3   1339914264522461184   NaN     NaN      NaN  NaN
4             717025418   NaN     NaN      NaN  NaN
5    992904738516717568   NaN     NaN      NaN  NaN
6    992904738516717568   NaN     NaN      NaN  NaN
7             736523371   NaN     NaN      NaN  NaN
8            1471684208   NaN     NaN      NaN  NaN
9    992904738516717568   NaN     NaN      NaN  NaN
10           3169236915   NaN     NaN      NaN  NaN
11   992904738516717568   NaN     NaN      NaN  NaN
12             16267684   NaN     NaN      NaN  NaN
13             60117154   NaN     NaN      NaN  NaN
14           3169236915   NaN     NaN      NaN  NaN
15            372993152   NaN     NaN      NaN  NaN
16            372993152   NaN     NaN      NaN  NaN
17            105241852   NaN     NaN      NaN  NaN
18           2357913366   NaN     NaN      NaN  NaN
19            717025418   NaN     NaN      NaN  NaN

Extraction Hashtags

In [132]:
# Crée un dataFrame avec les données inscrites dans entites, en columns on a Url, Mentions et Hashtags
pdDataFrameEntities = pdTweet["entities"].apply(pd.Series)
# Isole uniquement les hashatags en créeant un autre dataFrame
pdDataFrameHashtags = pdDataFrameEntities["hashtags"].apply(pd.Series)
# On a maintenant dans la variable pdDataFrameHashtags les hashtags des tweets, en columns le premier cité puis le deuxième etc.
pdDataFrameHashtags

,0,1,2
0,"{'start': 52, 'end': 63, 'tag': 'twitter225'}",NaN,NaN
1,"{'start': 126, 'end': 142, 'tag': 'Supportrice...","{'start': 143, 'end': 149, 'tag': 'domie'}","{'start': 150, 'end': 154, 'tag': 'CIV'}"
2,"{'start': 37, 'end': 41, 'tag': 'CIV'}",NaN,NaN
3,"{'start': 60, 'end': 65, 'tag': 'jifa'}",NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,NaN,NaN,NaN
7,NaN,NaN,NaN
8,"{'start': 20, 'end': 31, 'tag': 'versailles'}","{'start': 32, 'end': 41, 'tag': 'nocturne'}","{'start': 42, 'end': 51, 'tag': 'appollon'}"
9,NaN,NaN,NaN
10,NaN,NaN,NaN
11,NaN,NaN,NaN
12,NaN,NaN,NaN
13,NaN,NaN,NaN
14,NaN,NaN,NaN
15,NaN,NaN,NaN
16,NaN,NaN,NaN
17,NaN,NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN